.mat-toolbar{
    background-color: cornflowerblue;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }

